<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098670907557-uldrhne8c4hlcdjjau42jpj7cv96g6rt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098670907557-uldrhne8c4hlcdjjau42jpj7cv96g6rt</string>
	<key>API_KEY</key>
	<string>AIzaSyBddgFNcHljpemlWZm4-X-OUhy-KvRPaFg</string>
	<key>GCM_SENDER_ID</key>
	<string>1098670907557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dk.kea.dat18.ios.FirebaseHelloWorld</string>
	<key>PROJECT_ID</key>
	<string>fir-helloworld-5078b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-helloworld-5078b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098670907557:ios:a7531d6c27839c593ced4c</string>
	<key>DATABASE_URL</key>
	<string>https://fir-helloworld-5078b.firebaseio.com</string>
</dict>
</plist>